body { 
  text-align: left; 
  background-color: lightgoldenrodyellow; 
  font-family: Roboto, sans-serif;
  margin: 20%;
  font-weight: bold; 
border: 20px solid blue;
padding: 20px;

}
head{
    text-underline-position: below
    }


}

p {
  color: blue;
  font-family: Roboto, sans-serif; /* Added this within the p selector */
}

li { 
  list-style-type: upper-roman; 
  padding: 20px; 
}

h2 {
  font-size: 30px;
    text-underline-position: below
}

p {
  line-height: inherit; /* This is redundant as line-height: inherit is the default */
}

img.skytrain { /* Corrected the selector for the image */
  float: right;
}

p{top margin: }
footer{ text-decoration-color: aquamarine}